# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fcalygfdbtkojgftezxr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable__cOcrAHy1IKQcNAvPjLtYQ_CamfmGsQ
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjYWx5Z2ZkYnRrb2pnZnRlenhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDUyMjgsImV4cCI6MjA4ODc4MTIyOH0.ZgNXNxota08BQaBlrgc7as_NH5wPckTV5jspaDAZjDg
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

# NextAuth
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

# Google OAuth
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Resend (for emails)
RESEND_API_KEY=YOUR_RESEND_API_KEY

# sozpo5-xommUm-zishivnpx skills add supabase/agent-skillsnpx skills add supabase/agent-skills